.NotesList{
    display: inline-block;
    background-color: antiquewhite;
    color:black;
    /* height:30vh; */
    border: 2px solid red;
    margin-top: 10px;
    width: 60vh;
    
}

.noterec{
    font-size: 10px;
    color:black;
    margin:10px;
    margin-bottom:0px;
}

.NotesList p{
    margin-left:10px;
    background-color: aqua;
}